.orderItem {
  padding: 26px;
  background-color: var(--Gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 84vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    width: 70vw;
  }
  .orderTime {
    font-weight: 600;
    text-decoration: underline;
  }
  .confirmButton.confirmed {
    background-color: var(--green);
  }
}
