.header {
  display: flex;
  align-items: center;
  height: 94px;
  padding-left: 5vw;
  padding-right: 6vw;
  justify-content: space-between;
  background-color: var(--Gray);

  span {
    padding: 4px;
    color: var(--green);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    font-family: Alegreya;
    line-height: 14px;
    text-transform: uppercase;
  }
  .LinksList {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    .item:focus {
      color: var(--green);
    }
    .item:hover {
      color: var(--green);
      transition: 0.3s ease-in-out;
    }
    .item {
      padding: 2vw;
    }
  }
}
