.CartItem {
  display: flex;
  margin: 26px;
  img {
    height: 120px;
    border-radius: 30px;
  }
}

.CartItemDetails {
  display: flex;
  flex-direction: row;
}

.ButtonsBlock {
  display: flex;
  align-items: center;
}
