.formWrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--Gray);
  border-radius: 8px;
  input {
    border-radius: 2px;
  }
  label {
    font-size: 18px;
  }
  width: 300px;
}
.formItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
