.HeaderLinksIcons {
  @media screen and (min-width: 768px) {
    display: none;
  }

  z-index: 9999;
  position: fixed;
  right: 0;
  top: 17vh;
  display: flex;
  flex-direction: column;
  a {
    display: flex;
    background-color: #686868;
    height: 48px;
    width: 48px;
    justify-content: center;
  }
  .Cart {
    position: relative;
  }
  .cartCount {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--dark-red);
    border-radius: 50%;
    height: 12px;
    width: 12px;
    font-size: 16px;
    text-align: center;
    color: var(--white);
  }
}
